---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

$font-serif: Optima, sans-serif;
$font-sans: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;

body{
  font-family: $font-sans;
//   color: #4c4c4c !important;
}

p{
    color: #4c4c4c !important;
}

h1{
    color: #00ffbf;
    font-family: $font-sans;
    letter-spacing: 2px;
}

a{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
}

.subheading{
    color: #ffbf00;
}

.nav-link{
    color: #ffbf00 !important;
}

.nav-link:hover{
    color: #ffd24d !important;
}

.navbar-toggler-right{
    color: #ffbf00 !important;
}